body {
  margin: 0;
}

code {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
  --main-container-color: #f3f4f6;
  --main-border-color: #e5e7eb;

  --main-bg-color: #818cf8;
  --sec-bg-color: #ecfdf5;
  --sec-bg-color-light: #fff;

  --main-font-color: #374151;
  --sec-font-color: #f3f4f6;
  --danger-font-color: #ef4444;
  --label-font-color: #6366f1;

  --main-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --main-box-shadow-inset: rgba(50, 50, 93, 0.25) 0px, 3px, 4px, -2px inset,
  rgba(0, 0, 0, 0.3) 0px, 4px, 6px, -6px inset;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}